body{
	background-image: url('assets/background.png');
}
img{
	margin-left: 900px;
}
#new{
	padding: 30px;
	margin: 10px;
}
#new1{
	font-size: 60px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
}
#new2{
	font-size: 30px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: darkslategray;

}
table{
	background-color: white;
	margin-left: 40px;
	font-size: 25px;
	
}
strong{
	color: dodgerblue;
}
table:hover{
	background-color: aqua;
}
#demo
{
	background-color: red;

	text-align: left;
	padding: 15px;
	color: white;
	font-size: 25px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
#col2
{
	/*background-color: red;*/
	text-align: right;
	padding: 15px;
	color : black;
	font-size: 25px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.one{
	text-align: left;
	padding: 10px;
	
}
.two{
	text-align: left;
}
.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
	top: 750px;
	margin-left: 80px;
	font-size: 18px;
	font-family: Nunito Sans;
    font-style: normal;
    
}